@font-face {
  font-family: "Calibri";
  src: local("Calibri"), url("path/to/calibri.woff2") format("woff2"),
       url("path/to/calibri.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}